---
- name: "시스템 패키지 설치 (yum)"
  become: yes
  ansible.builtin.yum:
    name:
      - git
      - python3
      - python3-pip
      - libselinux-python3
    state: present

- name: "pip3 최신 버전으로 업그레이드"
  become: yes
  ansible.builtin.pip:
    name: pip
    state: latest
    executable: pip3

- name: "앤서블 k3s 모듈 사용을 위한 파이썬 라이브러리 설치"
  become: yes
  ansible.builtin.pip:
    name:
      - kubernetes
      - PyYAML
    executable: pip3

